<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The path of xml file -->
    <add key="xmlPath" value="UsersXml.xml"/>
    <add key="SlavesNumber" value="3" />
  </appSettings>

<system.diagnostics>
    <switches>
      <add name="mySwitch" value="1"/>
    </switches>
</system.diagnostics>

</configuration>