body {
	font-family: "Myriad Pro", Myriad, Tahoma, sans-serif;
}

.main{
	width: 900px;
	margin:62px auto;	
}

.left_panel{
	width: 400px;
}

.photo_box{
	float:left;
	text-align:center;
	width:100%;
	line-height: 5px;
}

.name
{		
	margin-bottom: 5px;
}

.photo_box h1{ 
	padding: 17px 0 3px 0;
	font-size: 43px;	
	font-weight: normal;
	font-variant:small-caps;
	color="#4b4b4b"	
}

.photo_box h2{     
	font-size: 43px;	
	font-variant:small-caps;
	font-weight: bold;	
}

.photo_box h3{
	font-size: 25px;	
	font-variant:small-caps;
	font-weight: bold;	
}

.photo_box img{    
    margin:9px 0 0 0;	
}

.section{
	margin: 45px 0 0 0;
    padding: 0 25px;
    float: left;
	font-size: 12px;
}

.section h1{
	font-size: 41px;
	color: #006cb4;
	font-variant:small-caps;	
	margin: 0 0 14px 11px;
}

.line{
	background-color: #006cb4;
	height: 4px;
	width: 100%;
	margin: 0 0 0 6px;
}

#icon{
	margin-left: 196px;
	width: 125,42%;	
}

#boldText{
	font-weight: bold;
}



